<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcapp-eventstore-email-ns-processor-uat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/05a315f7-744f-4692-b9dd-1aed7c6cee64/resourceGroups/RG-FieldExperiencePlatform-Uat-01/providers/Microsoft.Web/sites/funcapp-eventstore-email-ns-processor-uat</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcapp-eventstore-email-ns-processor-uat.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>